.env
credentials.py
data/cache/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.csv
*.csv~

precipitation.ipynb
prompt.txt
pyrightconfig.json
nwis.ipynb

archive/
doc/
figures/
green/
olympic_peninsula/

grand_canyon/__pycache__/
grand_canyon/attic/
grand_canyon/data/
grand_canyon/figures/
grand_canyon/gc_map.ipynb
grand_canyon/gc_map2.ipynb
grand_canyon/lake_powell.txt
grand_canyon/my_trips.py
grand_canyon/gc_scratch.ipynb

chicagoland/data/*.xlsx
chicagoland/data/*.gpkg
chicagoland/figures/
chicagoland/nb_chicago_river.working.ipynb

