.env
credentials.py
data/cache/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.csv
grand_canyon/
archive/
doc/
figures/
green/
olympic_peninsula/
precipitation.ipynb
prompt.txt
pyrightconfig.json
chicagoland/data/*.xlsx
chicagoland/data/*.gpkg
chicagoland/figures/
chicagoland/nb_chicago_river.working.ipynb
*.csv~
